@page "/pessoas/lista"
@using BlazorApp.Shared.Models

<h3>Lista de Pessoas</h3>

@if (pessoas == null)
{
    <text>Carregando . . . </text>
}
else if (pessoas.Count == 0)
{
    <text>Não há nunhuma Pessoa cadastrada ainda no banco de dados. </text>
}
else
{

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nome</th>
                <th>Peso</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var pessoa in pessoas)
            {
                <tr>
                    <td>@pessoa.Id</td>
                    <td>@pessoa.Nome</td>
                    <td>@pessoa.Peso</td>
                </tr>
            }
        </tbody>

    </table>
}

@code {

   List<Pessoa> pessoas;

   protected override async Task OnInitializedAsync()
   {
       await LoadPessoas();
       //return base.OnInitializedAsync();
   }


   async Task LoadPessoas()
   {
       await Task.Delay(500);

       pessoas = new List<Pessoa> {
                new Pessoa { Id = 1, Nome = "Gustavo", Peso = 88 },
                new Pessoa { Id = 2, Nome = "Bruno", Peso = 94 },
                new Pessoa { Id = 3, Nome = "Andre", Peso = 78 }
          };

       //pessoas = new List<Pessoa>();
   }
}